//buttons
.btn-primary {
    margin-left: 8px;
    background-color: #431196;
    border: 1px solid black;
    transition: 0.4s;
}
.btn-primary:hover { 
	background-color: #6f43b9; 
}
.btn-primary:active { 
	background-color: #6f43b9; 
}
.btn-primary:focus { 
	background-color: #6f43b9; 
}